.popular-grid{
    margin-top: 15px;
}
.box{
    box-shadow: 5px 5px 5px 3px gray;
    border-radius: 15px;
    width:156px;
    height: 150px;
    margin-bottom: 20px;
}

.box img{
    position: absolute;
    margin-left: 20px;
}
.box a{
    position: absolute;
    margin-top: 100px;
    margin-left: 5px;
}
.box div{
    position: absolute;
    margin-top: 125px;
    margin-left: 100px;
}
.box button{
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    width: 20px;
    height: 20px;
    border: none;
    float: right;
    color: white;
    background-color: purple;
    cursor: pointer;
    border: 2px solid purple;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}