

<div class="sayfa">
    <div class="baslik-grid">
        <a id="hello"><b>Hello,</b></a> <br>
        <a id="lets"> Let's get something?</a>
    </div>
    <div class="gorsel">
        <div class="gorsel1"> <div class="gorsel2"></div></div>
       
    </div>
    
    <div class="categorypopular-grid">
        <div class="box1">
            <a class="basliklar">Categories</a>
            <categories></categories>
        </div>
        <div class="box2">
            <a class="basliklar">Popular Products</a>
            <popularprodutcs></popularprodutcs>
        </div>
    </div>
    <div class="recently-grid">
        <div class="recentlybox">
            <a class="basliklar">Recentyl Visited</a>
            <recentlyvisited></recentlyvisited>
        </div>
    </div>
</div>