.cart{
   
    box-shadow: 5px 5px 5px 3px gray;
    border-radius: 30px;
    width:340px;
    height: 220px;
   
}
.cart-content{
    margin: 20px;
}
.orders{
    position: absolute;
    width: 70px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #5856D6;
}
.date {
    position: absolute;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    align-items: center;
    color: #000000;
}

.orderstatus {
    position: absolute;
    margin-top: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    align-items: center;
    color: #000000;
}
.item{
    position: absolute;
    margin-top: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    align-items: center;
    color: #000000;
}
.price{
    position: absolute;
    margin-top: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    align-items: center;
    color: #000000;
}

.order{
    margin-top: 50px;
}
.orderitem{
   
    font-family: 'Poppins';
    font-style: normal;
    font-size: 30px;
    font-weight: 600px;
    color: #000000;
}

.popular-grid{
    margin-top: 15px;
}
.box{
    box-shadow: 5px 5px 5px 3px gray;
    border-radius: 15px;
    width:156px;
    height: 150px;
    margin-bottom: 20px;
}

.box img{
    position: absolute;
    margin-left: 20px;
}
.box a{
    position: absolute;
    margin-top: 100px;
    margin-left: 5px;
}
.box div{
    position: absolute;
    margin-top: 125px;
    margin-left: 100px;
}
.box button{
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    width: 20px;
    height: 20px;
    border: none;
    float: right;
    color: white;
    background-color: purple;
    cursor: pointer;
    border: 2px solid purple;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}

.send-btn{
    margin-top: 50px;
    margin-left: 20px;
    width: 212px;
    height: 47px;
   
    background: #5856D6;
    border-radius: 13.0556px;
}

.send{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 15px;
    margin-left: 85px;
}